<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/saveStyle.css?v=0.01}" href="/css/saveStyle.css">
    <title>Tourist attraction suggestion</title>
</head>
<body>
<header align="center">
    <h1>These are the submitted attractions from our users:</h1>
</header>
<br>
    <article>
        <div th:each = "attr : ${attractions}">
            <br>
            <p>Name of the attraction:</p>
            <p th:text ="${attr.getName()}"></p>
            <br>
            <p>Description</p>
            <p th:text ="${attr.getDescription()}"></p>
            <br>
            <p>City:</p>
            <p th:text="${attr.getBy().getByName()}"></p>

            <br>

        </div>

    </article>
<a th:href="@{/attractions}">Gå til forsiden</a>



</body>
</html>